body {
  margin: 0;
 
}

.darkTheme {
  background-color: gray;
  
}

.darkTheme h1 {
   color:red
}

.lightTheme {
  background-color: aqua;
 
}

.lightTheme h1{
  color: blue
} 

.statusBtnStyle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  border: 0.5px solid black;
};